# 데이터 전처리(Data preprocessing
## 1. 결측값 처리(Missing Value Hadling)

결측값이 있는 데이터는 일반적으로 머신러닝의 입력으로 사용할 수 없다.<br>
따라서 결측값은 데이터 전처리 과정에서 삭제하거나 대체하는 경우가 많다.

titanic 데이터에서 과반수 이상의 데이터가 결측값으로 존재하는 Cabin 변수를 삭제해 보자.<br>
그리고 나머지 변수에 존재하는 결측값 처리를 위해 결측값이 존재하는 샘플을 제거해 보자.<br>

- pandas의 DataFrame에서 특정 변수(columns)를 삭제하기 위해서는 drop() 함수를 사용한다.

    > DataFrame.drop(columns=[변수명])

<br>

- DataFrame에서 결측값이 있는 샘플을 제거하기 위해서는 dropna() 함수를 사용한다.

    > DataFrame.dropna()

In [1]:
# pandas 임포트
import pandas as pd

In [2]:
# Load the titanic data
titanic = pd.read_csv('titanic.csv')

In [3]:
# Check the titanic info
print(titanic.info(), "\n")

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB
None

In [4]:
# Remove the cabin column
titanic_cabin_removed = titanic.drop(columns=['Cabin'])

# Check the cabin column is removed
print("Cabin variable removed: ", titanic_cabin_removed.columns, "\n")

# Pring the titanic_cabin_removed info
print(titanic_cabin_removed.info(), "\n")

Cabin variable removed:  Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Embarked'],
      dtype='object')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(4)
memory usage: 76.7+ KB
None

In [5]:
# Remove the missing values usihng dropna()
titanic_missing_removed = titanic_cabin_removed.dropna()

# Check the missing values are removed
print("Missing vaiables removed: ", "\n")

# Print the titanic_missing_removed info
print(titanic_missing_removed.info(), "\n")

Missing vaiables removed:

<class 'pandas.core.frame.DataFrame'>
Int64Index: 712 entries, 0 to 890
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  712 non-null    int64
 1   Survived     712 non-null    int64
 2   Pclass       712 non-null    int64
 3   Name         712 non-null    object
 4   Sex          712 non-null    object
 5   Age          712 non-null    float64
 6   SibSp        712 non-null    int64
 7   Parch        712 non-null    int64
 8   Ticket       712 non-null    object
 9   Fare         712 non-null    float64
 10  Embarked     712 non-null    object
dtypes: float64(2), int64(5), object(4)
memory usage: 66.8+ KB
None