## Case 1: Dictionary

In [1]:
# Definition of dictionary
europe = {
    'spain':'madrid', 'france':'paris', 'germany':'berlin',
    'norway':'oslo', 'italy':'rome', 'poland':'warsaw',
    'austria':'vienna'
    }
          
# Iterate over europe
for item in europe:
    print(f"the capital of {item} is {europe[item]}")

the capital of spain is madrid
the capital of france is paris
the capital of germany is berlin
the capital of norway is oslo
the capital of italy is rome
the capital of poland is warsaw
the capital of austria is vienna

## Case 2: NumPy array

In [2]:
import numpy as np

In [3]:
# Set data: height in cm, weight in kg
height = [173, 175, 180, 178, 177, 185, 183, 182, 181, 179, 184, 182, 181, 178, 177, 176, 174, 173, 171, 170, 169, 168, 167, 166, 165]
weight = [65.4, 59.2, 63.6, 88.4, 68.7, 74.1, 89.5, 83.1, 86.0, 66.9, 77.5, 69.1, 75.8, 80.4, 76.3, 66.8, 67.7, 69.1, 70.1, 72.3, 58.8, 59.8, 62.5, 68.9, 57.3]

In [4]:
# We can make np_player from np_height and np_weight
np_height = np.array(height)
np_weight = np.array(weight)

# np.array: each element is float type so that it has decimal point
np_player1 = np.array([np_height, np_weight])
print("np_player1", "\n", np_player1, "\n")

# Removing decimal point: dtype = int, or dtype = "int16" (you also can use "int32", "int64")
np_player2 = np.array([np_height, np_weight], dtype = int)
print("np_player2", "\n", np_player2, "\n")

# We also can use .astype(int) method to remove decimal point
np_player3 = np.array([np_height, np_weight]).astype(int)
print("np_player3", "\n", np_player3)

np_player1
 [[173.  175.  180.  178.  177.  185.  183.  182.  181.  179.  184.  182.
  181.  178.  177.  176.  174.  173.  171.  170.  169.  168.  167.  166.
  165. ]
 [ 65.4  59.2  63.6  88.4  68.7  74.1  89.5  83.1  86.   66.9  77.5  69.1
   75.8  80.4  76.3  66.8  67.7  69.1  70.1  72.3  58.8  59.8  62.5  68.9
   57.3]]

np_player2
 [[173 175 180 178 177 185 183 182 181 179 184 182 181 178 177 176 174 173
  171 170 169 168 167 166 165]
 [ 65  59  63  88  68  74  89  83  86  66  77  69  75  80  76  66  67  69
   70  72  58  59  62  68  57]]

np_player3
 [[173 175 180 178 177 185 183 182 181 179 184 182 181 178 177 176 174 173
  171 170 169 168 167 166 165]
 [ 65  59  63  88  68  74  89  83  86  66  77  69  75  80  76  66  67  69
   70  72  58  59  62  68  57]]

In [5]:
# We also can create 2D numpy array from np_height and np_weight, in element-wise order
np_player_element_wise = np.column_stack((height, weight))
print("np_player_element_wise", "\n", np_player_element_wise, "\n")

np_player_element_wise
 [[173.   65.4]
 [175.   59.2]
 [180.   63.6]
 [178.   88.4]
 [177.   68.7]
 [185.   74.1]
 [183.   89.5]
 [182.   83.1]
 [181.   86. ]
 [179.   66.9]
 [184.   77.5]
 [182.   69.1]
 [181.   75.8]
 [178.   80.4]
 [177.   76.3]
 [176.   66.8]
 [174.   67.7]
 [173.   69.1]
 [171.   70.1]
 [170.   72.3]
 [169.   58.8]
 [168.   59.8]
 [167.   62.5]
 [166.   68.9]
 [165.   57.3]]

In [6]:
# If we want to remove decimal point, we can use .astype(int) method with np.column_stack
# because it does not have dtype parameter
np_player_element_wise2 = np.column_stack((height, weight)).astype(int)
print("np_player_element_wise2", "\n", np_player_element_wise2)

np_player_element_wise2
 [[173  65]
 [175  59]
 [180  63]
 [178  88]
 [177  68]
 [185  74]
 [183  89]
 [182  83]
 [181  86]
 [179  66]
 [184  77]
 [182  69]
 [181  75]
 [178  80]
 [177  76]
 [176  66]
 [174  67]
 [173  69]
 [171  70]
 [170  72]
 [169  58]
 [168  59]
 [167  62]
 [166  68]
 [165  57]]

## Case 3: Pandas DataFrame

In [7]:
import pandas as pd

In [8]:
# Read brics.csv file
brics = pd.read_csv("../brics.csv", index_col = 0)
print(brics)

         country    capital    area  population
BR        Brazil   Brasilia   8.516      200.40
RU        Russia     Moscow  17.100      143.50
IN         India  New Delhi   3.286     1252.00
CH         China    Beijing   9.597     1357.00
SA  South Africa   Pretoria   1.221       52.98

In [9]:
for val in brics:
    print(val)  # column name

country
capital
area
population

In [10]:
# Explicitly print each column: .iterrows() method returns label and row
for lab, row in brics.iterrows():
    print(lab)
    print(row)

BR
country         Brazil
capital       Brasilia
area             8.516
population       200.4
Name: BR, dtype: object
RU
country       Russia
capital       Moscow
area            17.1
population     143.5
Name: RU, dtype: object
IN
country           India
capital       New Delhi
area              3.286
population       1252.0
Name: IN, dtype: object
CH
country         China
capital       Beijing
area            9.597
population     1357.0
Name: CH, dtype: object
SA
country       South Africa
capital           Pretoria
area                 1.221
population           52.98
Name: SA, dtype: object

In [11]:
# Selective print: print only country and capital
for lab, row in brics.iterrows():
    print(f"{lab}: {row['capital']}")

BR: Brasilia
RU: Moscow
IN: New Delhi
CH: Beijing
SA: Pretoria

### Vectorized operation with .apply() function

In [12]:
# Column addition: add new column "name_length" to brics
for lab, row in brics.iterrows():
    # Create series on every iteration
    brics.loc[lab, "name_length"] = len(row["country"])  # type: ignore because it is not defined in the original brics

print(brics)

         country    capital    area  population  name_length
BR        Brazil   Brasilia   8.516      200.40          6.0
RU        Russia     Moscow  17.100      143.50          6.0
IN         India  New Delhi   3.286     1252.00          5.0
CH         China    Beijing   9.597     1357.00          5.0
SA  South Africa   Pretoria   1.221       52.98         12.0

In [13]:
# Do the same process with .apply() method: element-wise
brics["name_length"] = brics["country"].apply(len)
print(brics)

         country    capital    area  population  name_length
BR        Brazil   Brasilia   8.516      200.40            6
RU        Russia     Moscow  17.100      143.50            6
IN         India  New Delhi   3.286     1252.00            5
CH         China    Beijing   9.597     1357.00            5
SA  South Africa   Pretoria   1.221       52.98           12

In [14]:
# Uppercases: all strings in the country column
for lab, row in brics.iterrows():
    brics.loc[lab, "COUNTRY"] = row["country"].upper()  # type: ignore

print(brics)

         country    capital    area  population  name_length       COUNTRY
BR        Brazil   Brasilia   8.516      200.40            6        BRAZIL
RU        Russia     Moscow  17.100      143.50            6        RUSSIA
IN         India  New Delhi   3.286     1252.00            5         INDIA
CH         China    Beijing   9.597     1357.00            5         CHINA
SA  South Africa   Pretoria   1.221       52.98           12  SOUTH AFRICA

In [15]:
# Lowercases: all strings in the country column
brics["COUNTRY"] = brics["country"].apply(str.lower)
print(brics)

         country    capital    area  population  name_length       COUNTRY
BR        Brazil   Brasilia   8.516      200.40            6        brazil
RU        Russia     Moscow  17.100      143.50            6        russia
IN         India  New Delhi   3.286     1252.00            5         india
CH         China    Beijing   9.597     1357.00            5         china
SA  South Africa   Pretoria   1.221       52.98           12  south africa