## Pandas

Pandas is a data analysis library for Python.
The name of Pandas is derived from the first letter of '`PAN`el `DA`ta', a term used in econometrics.

Pandas provides data for manipulating numeric tables and time-series data.

Since Pandas uses a structure called DataFrame that imitates the `data.frame` structure used in `R`, many of the functions used in `data.frame` in `R` can be used without difficulty.

### Main features of Pandas
- Provide DataFrame object that enables data manipulation with integrated indexing.
- Supports in-memory data structure and data read/write environment between various file formats
- Supports sorting and handling of missing data
- Supports dataset restructuring and pivoting
- Supports Label-based slicing, well-supported indexing, and subset function for large datasets
- Supports adding and deleting columns in data structures
- Supports GroupBy engine through split-apply-merge of datasets
- Supports dataset merging and joining
- Supports hierarchical axis indexing for high-dimensional data processing in low-dimensional data
- Supports time series operations such as date range, frequency conversion, moving window statistics, moving window linear regression, and date shifting
- Supports data filter

In [1]:
# Pre-defined lists
names = ['United States', 'Australia', 'Japan', 'India', 'Russia', 'Morocco', 'Egypt']
dr =  [True, False, False, False, True, True, True]
cpc = [809, 731, 588, 18, 200, 70, 45]

# Import pandas as pd
import pandas as pd

# Create dictionary my_dict with three key:value pairs: my_dict
# There should be three key value pairs: key 'country' and value names,
# key 'drives_right' and value dr, key 'cars_per_cap' and value cpc.
my_dict = {'country':names, 'drives_right':dr, 'cars_per_cap':cpc}

# Build a DataFrame cars from my_dict: cars
cars = pd.DataFrame(my_dict)

# Print cars
print(cars)

         country  drives_right  cars_per_cap
0  United States          True           809
1      Australia         False           731
2          Japan         False           588
3          India         False            18
4         Russia          True           200
5        Morocco          True            70
6          Egypt          True            45

### CSV to DataFrame

In [2]:
import pandas as pd

# Build cars DataFrame
names = ['United States', 'Australia', 'Japan', 'India', 'Russia', 'Morocco', 'Egypt']
dr =  [True, False, False, False, True, True, True]
cpc = [809, 731, 588, 18, 200, 70, 45]
cars_dict = { 'country':names, 'drives_right':dr, 'cars_per_cap':cpc }
cars = pd.DataFrame(cars_dict)
print(cars)

# Definition of row_labels
row_labels = ['US', 'AUS', 'JPN', 'IN', 'RU', 'MOR', 'EG']

# Specify row labels of cars
cars.index = row_labels
 
# Print cars again
print(cars)

         country  drives_right  cars_per_cap
0  United States          True           809
1      Australia         False           731
2          Japan         False           588
3          India         False            18
4         Russia          True           200
5        Morocco          True            70
6          Egypt          True            45
           country  drives_right  cars_per_cap
US   United States          True           809
AUS      Australia         False           731
JPN          Japan         False           588
IN           India         False            18
RU          Russia          True           200
MOR        Morocco          True            70
EG           Egypt          True            45

In [3]:
import pandas as pd

# import the cars.csv data: cars
cars = pd.read_csv("cars.csv")

# Print out cars
print(cars)

  Unnamed: 0  cars_per_cap        country  drives_right
0         US           809  United States          True
1        AUS           731      Australia         False
2        JPN           588          Japan         False
3         IN            18          India         False
4         RU           200         Russia          True
5        MOR            70        Morocco          True
6         EG            45          Egypt          True

In [4]:
# Import pandas as pd
import pandas as pd

# Set index_col = 0 to use the first column as index(row labels)
cars = pd.read_csv('cars.csv', index_col = 0)

# Print out cars
print(cars)

     cars_per_cap        country  drives_right
US            809  United States          True
AUS           731      Australia         False
JPN           588          Japan         False
IN             18          India         False
RU            200         Russia          True
MOR            70        Morocco          True
EG             45          Egypt          True

### Slicing pandas DataFrame

In [5]:
import pandas as pd

# Read brics.csv into a DataFrame: brics
brics = pd.read_csv('brics.csv', index_col = 0)

# Print the country column as Pandas Series
print("Pandas Series")
print(brics['country'], "\n")  # single brackets: [ ]
print(type(brics['country']), "\n\n")

# Print the country column as Pandas DataFrame
print("Pandas DataFrame")
print(brics[['country']], "\n")  # double brackets: [[ ]]
print(type(brics[['country']]))

Pandas Series
BR          Brazil
RU          Russia
IN           India
CH           China
SA    South Africa
Name: country, dtype: object

<class 'pandas.core.series.Series'>


Pandas DataFrame
         country
BR        Brazil
RU        Russia
IN         India
CH         China
SA  South Africa

<class 'pandas.core.frame.DataFrame'>

In [6]:
brics.loc["RU"]  # get the row with label "RU", using loc

country       Russia
capital       Moscow
area            17.1
population     143.5
Name: RU, dtype: object

In [7]:
# Do the same for RU, IN and CH
brics.loc[['RU', 'IN', 'CH']]

   country    capital    area  population
RU  Russia     Moscow  17.100       143.5
IN   India  New Delhi   3.286      1252.0
CH   China    Beijing   9.597      1357.0

In [8]:
# Print the country and capital columns from brics for RU, IN and CH
brics.loc[["RU", "IN", "CH"], ["country", "capital"]]

   country    capital
RU  Russia     Moscow
IN   India  New Delhi
CH   China    Beijing

In [9]:
# Print the country and capital columns for all rows in brics
brics.loc[:, ["country", "capital"]]

         country    capital
BR        Brazil   Brasilia
RU        Russia     Moscow
IN         India  New Delhi
CH         China    Beijing
SA  South Africa   Pretoria

In [10]:
brics.iloc[1]  # get the row with index 1, using iloc

country       Russia
capital       Moscow
area            17.1
population     143.5
Name: RU, dtype: object

In [11]:
brics.iloc[[1, 2, 3]]  # get the rows with index 1, 2, 3, using iloc

   country    capital    area  population
RU  Russia     Moscow  17.100       143.5
IN   India  New Delhi   3.286      1252.0
CH   China    Beijing   9.597      1357.0

In [12]:
brics.iloc[[1, 2, 3], [0, 1]]  # get the rows with index 1, 2, 3, and columns with index 0, 1, using iloc

   country    capital
RU  Russia     Moscow
IN   India  New Delhi
CH   China    Beijing

In [13]:
brics.iloc[:, [0, 1]]  # get the rows with index 1, 2, 3, and columns with index 0, 1, using iloc

         country    capital
BR        Brazil   Brasilia
RU        Russia     Moscow
IN         India  New Delhi
CH         China    Beijing
SA  South Africa   Pretoria

In [14]:
# Import cars data
import pandas as pd

cars = pd.read_csv('cars.csv', index_col = 0)

# Print out observation for Japan
print(cars.loc["JPN"])

# Print out observations for Australia and Egypt
print(cars.loc[["AUS", "EG"]])

cars_per_cap      588
country         Japan
drives_right    False
Name: JPN, dtype: object
     cars_per_cap    country  drives_right
AUS           731  Australia         False
EG             45      Egypt          True

In [15]:
import pandas as pd

# Import cars data
cars = pd.read_csv('cars.csv', index_col = 0)

# Print out drives_right value of the row corresponding to Morocco (its row label is MOR)
print(cars.loc["MOR", "drives_right"])

# Print sub-DataFrame for Russia and Morocco and the columns country and drives_right.
print(cars.loc[["RU", "MOR"], ["country", "drives_right"]])

True
     country  drives_right
RU    Russia          True
MOR  Morocco          True

In [16]:
import pandas as pd

# import the cars.csv data: cars
cars = pd.read_csv("cars.csv", index_col = 0)

# Print out drives_right column as Series using iloc
print(cars.iloc[:, 2], "\n")

# Print out drives_right column as DataFrame using iloc
print(cars.iloc[:, [2]], "\n")

# Print cars_per_cap and drives_right as DataFrame using iloc
print(cars.iloc[:, [0, 2]])

US      True
AUS    False
JPN    False
IN     False
RU      True
MOR     True
EG      True
Name: drives_right, dtype: bool

     drives_right
US           True
AUS         False
JPN         False
IN          False
RU           True
MOR          True
EG           True

     cars_per_cap  drives_right
US            809          True
AUS           731         False
JPN           588         False
IN             18         False
RU            200          True
MOR            70          True
EG             45          True